body {
    color: #333;
    font-family: Lato, sans-serif;
    font-size: 18px;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

pre, code {
    font-family: 'Fira Mono', monospace;
    font-size: .9em;
}

p code {
    background-color: rgba(0, 0, 0, .05);
    padding: 0 3px;
}

header {
    border-bottom: 1px solid #E3E3E3;
}

header a, footer a {
    display: inline-block;
    color: inherit;
    padding: .5em 1em;
}

header a:hover, header .active, footer a:hover {
    background-color: rgba(0, 0, 0, .03);
    color: #000;
    opacity: 1;
}

header .menu {
    float: right;
}

header .menu a {
    opacity: .8;
}

header .site-title {
    font-weight: bold;
    vertical-align: middle;
    padding: .5em 1em;
    margin-right: 1em;
    float: left;
}

header:after {
    content: ' ';
    visibility: hidden;
    clear: both;
    display: block;
}

.pull-right {
    float: right;
}

.posts {
    list-style-type: none;
    padding-left: 1em;
}

.posts li p {
    margin-top: 0;
}

.posts li {
    margin-bottom: 1.5em;
}

.posts .post-title {
    font-size: 1.4em;
}

.posts .post-footnote {
    opacity: .6;
}

a {
    color: #369;
    text-decoration: none;
}

.comments {
    margin-top: 2em;
}

h1 + em {
    margin-top: -1.8em;
    display: block;
    font-size: .8em;
}

footer {
    border-top: 1px solid #EEE;
    margin: 2em auto 0;
    font-size: 1.05em;
    text-align: center;
}

footer .author {
    margin-right: 24px;
}

body > section, body > article {
    width: 960px;
    margin: 0 auto;
}

body > section img, body > article img {
    max-width: 100%;
    height: auto;
}

body > section a:hover, body > article a:hover {
    text-decoration: underline;
}

.pagination {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    border: thin solid rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.pagination li {
    display: inline-block;
}

.pagination .disabled {
    opacity: .3;
}

.pagination .active {
    background-color: rgba(0, 0, 0, .08);
    font-weight: bold;
}

.pagination a {
    padding: 3px 9px;
}

.pagination a:hover {
    background-color: rgba(0, 0, 0, .1);
}

.pageline {
    color: #CCC;
    position: relative;
    border-top: 1px solid #EEE;
    margin: 2em 0;
}

.pageline > span {
    position: absolute;
    left: 20%;
    top: -.5em;
    background: white;
    display: block;
    padding: 0 12px;
}

@media screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    #toggle-btn {
        display: inline-block;
        float: right;
        padding: .5em 1em;
        color: #484848;
        font-weight: bold;
    }
    #toggle-content li {
        clear: both;
        height: auto;
        background-color: rgb(249, 249, 249);
    }
    #toggle-home {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}
