@page {
	size: A4;
	margin: 1cm;
}

html {
	--body-text-color: #000;
	--link-color: #000;
	--font-body: Georgia, 'Times New Roman', Times, serif;
	--font-head: Georgia, 'Times New Roman', Times, serif;
	--font-mono: Consolas, Menlo, monospace;
	--bold-weight: 700;
}

noscript, body header, .toc, footer, .print-msg {
	display: none;
}

h1:first-child {
	margin-top: 0;
}

a {
	text-decoration: underline;
}

p a:after {
	content: " (" attr(href) ")";
	font-size: 80%;
}

p a[href^="#"]:after {
	display: none;
}
