---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 1
---

<h1>Posts</h1>

<p><a href="{{ "/tags/" | url }}">View all tags</a></p>

{% set postslist = collections.posts %}
{% set groupByMonth = true %}
{% include "postslist.njk" %}
