{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block head -%}
{{ super() -}}
{%- if article.summary -%}
	<meta name=description content="{{ article.summary | striptags | safe | truncate(150) }}">
{%- endif -%}
{% endblock %}

{% block title %}{{ article.title | striptags }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
  {{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ article.title | markdown }}</h1>

{%- if article.subtitle %}
<div class=subtitle>{{ article.subtitle }}</div>
{%- endif %}

<p class=screen-only>
<span style="display:flex;flex-wrap:wrap">
	<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
	<span style="margin-left: 2em">Read Later on
		<a href="https://getpocket.com/edit.php?url={{ SITEURL }}/{{ article.url }}&amp;title={{ article.title | striptags }}" target=_blank rel=noopener title="Save to Pocket">Pocket</a> or
		<a href="https://instapaper.com/edit?url={{ SITEURL }}/{{ article.url }}&amp;title={{ article.title | striptags }}" target=_blank rel=noopener title="Save to Instapaper">Instapaper</a>.
	</span>
</span>
</p>

<p class=print-only>
<em>
<b>Published:</b> {{ article.locale_date }}<br>
{%- if article.authors %}
<b>Author:</b> {% for author in article.authors %}{{ author }}{% endfor %}<br>
{%- endif %}
</em>
</p>

<p class=print-only>
<em>
Thank you for printing from <a href="{{ PROD_SITEURL }}">sharats.me</a>. Do check back regularly for more such
awesome content. Subscribe to at sharats.me/posts/index.xml to stay updated.
</em>
</p>

{% include "banners.html" %}

<article>{{ article.content }}</article>

<hr>

{%- if article.hn_id or article.reddit_url %}
<p><b>Discuss on</b>:
{%- if article.hn_id %}
	<a target=_blank href="https://news.ycombinator.com/item?id={{ article.hn_id }}">Hacker News</a>
{%- endif %}
{%- if article.hn_id and article.reddit_url %} or {% endif %}
{%- if article.reddit_url %}
	<a target=_blank href="https://www.reddit.com/{{ reddit_url }}">Reddit</a>
{%- endif -%}
.</p>
{%- endif %}

<p>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18" style="fill:none;stroke:currentColor">
	<polygon points="3,8 7,4 14,4 14,12 7,12" stroke-linejoin="round" />
	<circle cx="7" cy="8" r="1" />
</svg>
{% for tag in article.tags -%}
<a href="{{ SITEURL }}/{{ tag.url }}" title="Posts tagged with {{ tag | escape }}" rel=tag class=tag>{{ tag | escape }}</a>
{%- if loop.last %}.{% else %}, {% endif %}
{% endfor -%}
</p>

<p>Share on
<a href="mailto:?subject=Read: {{ article.title | striptags }}&amp;body={{ SITEURL }}/{{ article.url }} :: {{ article.summary | striptags }}" target=_blank rel=noopener>Email</a> or
<a href="https://twitter.com/intent/tweet?url={{ SITEURL }}{{ article.url }}&amp;text={{ article.title | striptags }}" target=_blank rel=noopener>Twitter</a> or
<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ SITEURL }}/{{ article.url }}&amp;title={{ article.title | striptags }}" target=_blank rel=noopener title="Share on LinkedIn">LinkedIn</a> or
on all of them!
</p>

<p><a href="https://www.buymeacoffee.com/sharat87" target=_blank rel=noopener><img src="/static/bmac.png" alt="Buy me a coffee"></a></p>

{% include "subscribe-form.html" %}

{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
<section class=comments>
	<h2>Comments</h2>
	<p class=print-only>View comments at <a href="{{ SITEURL }}/{{ article.url }}#comments">{{ SITEURL }}/{{ article.url }}#comments</a>
	<div id=disqus_thread>
		<button type=button onclick="loadComments(event)" class=screen-only style="margin:0 1em">Load comments</button>
	</div>
	<noscript class=screen-only><p>Comments require JavaScript to be enabled.
		<a href='http://enable-javascript.com'>Learn how to do this for your browser</a>.</p></noscript>
</section>
<script>
	const DISQUS_SITENAME = "{{ DISQUS_SITENAME }}";
	function disqus_config() {
		this.page.url = "{{ PROD_SITEURL }}/{{ article.url }}";
		this.page.identifier = "{{ article.disqus_id or article.slug }}";
	}
</script>
{% endif %}
{% endblock %}
