<p class="project-ref appsmith-ref">
Hello! We're building <strong>Appsmith</strong>, an open-source internal tool builder with drag-and-drop widget builder
and integrations with several databases and REST APIs. Check us out at
<a href="https://appsmith.com" target=_blank rel=noopener>appsmith.com</a>, or the repo at
<a href="https://github.com/appsmithorg/appsmith" target=_blank rel=noopener>GitHub</a>.
</p>

<p class="project-ref prestige-ref">
Also checkout my current weekend project, <strong>Prestige</strong>: a simple text based HTTP client for API developers
(like Postman) at <a href="https://prestigemad.com" target=_blank rel=noopener>prestigemad.com</a>, or the repo at
<a href="https://github.com/sharat87/prestige" target=_blank rel=noopener>GitHub</a>.
</p>

<style>
.project-ref {
	border: 2px solid gray;
	padding: 1rem;
	border-radius: 6px;
	margin: 1rem;
}

.appsmith-ref {
	background-color: #fed;
	border-color: #f70;
}

.prestige-ref {
	background-color: #eff;
	border-color: #0af;
}
</style>
