<div id=converterBox>
<textarea id=compCodeEl onKeydown="setTimeout(updateLoopCode)">[n ** 2 for n in range(9) if n % 2 == 0]</textarea>
<textarea id=loopCodeEl readonly></textarea>

<style>
#converterBox {
    display: flex;
    flex-wrap: wrap;
}
#converterBox textarea {
    flex-grow: 1;
    margin: 6px;
    height: 148px;
    font-family: var(--font-mono), monospace;
    font-size: inherit;
    font-variant-ligatures: none;
}
</style>

<script defer>
updateLoopCode();

function updateLoopCode() {
	document.getElementById("loopCodeEl").value = computeLoopCode(document.getElementById("compCodeEl").value);
}

function computeLoopCode(code) {
	code = code.trim();

	const closers = {'"': '"', "'": "'", "(": ")", "[": "]", "{": "}"};

	if (code[0] !== "[" && code[0] !== "{")
		return "";

	if (code[code.length - 1] !== closers[code[0]])
		return "";

	let type = code[0] == "[" ? "list" : "set";
	let i = 1;

	let expr = '';
	const stack = [], parts = [];

	for (; i < code.length - 1; ++i) {
		const ch = code[i];
		if (stack.length > 0 && ch === stack[stack.length - 1]) {
			expr += stack.pop();

		} else if (ch.match(/["'(\[{]/)) {
			expr += ch;
			stack.push(closers[ch]);

		} else if (stack.length > 0) {
			expr += ch;

		} else if (stack.length === 0 && ch === ":") {
			type = "dict";
			parts.push(expr);
			expr = '';

		} else {
			const match = code.substr(i).match(/^(for|if)\b/);
			if (match) {
				parts.push(expr);
				expr = ch;

			} else {
				expr += ch;

			}

		}

	}

	if (expr.length)
		parts.push(expr);

	for (const i in parts)
		parts[i] = parts[i].trim();

	const loopCodeLines = [];

	switch (type) {
		case "list":
			loopCodeLines.push("result = []")
			break;
		case "set":
			loopCodeLines.push("result = set()")
			break;
		case "dict":
			loopCodeLines.push("result = {}")
			break;
	}

	const resultPart = parts.shift(), resultValuePart = type === "dict" ? parts.shift() : null;

	let indentLevel = 0;
	for (const part of parts) {
		loopCodeLines.push(makeIndent(indentLevel) + part + ":");
		++indentLevel;
	}

	switch (type) {
		case "list":
			loopCodeLines.push(makeIndent(indentLevel) + "result.append(" + resultPart + ")");
			break;
		case "set":
			loopCodeLines.push(makeIndent(indentLevel) + "result.add(" + resultPart + ")");
			break;
		case "dict":
			loopCodeLines.push(makeIndent(indentLevel) + "result[" + resultPart + "] = " + resultValuePart);
			break;
	}

	return loopCodeLines.join('\n');
}

function makeIndent(level) {
	level *= 4;
	const spaces = [];
	while (level--)
		spaces.push(' ');
	return spaces.join('');
}
</script>
</div>
