<div class=share-links>
	<strong>{{ label | default('Share:') }}</strong>

	<a href='mailto:?subject={{ pageTitle }}&body={{ pageTitle }} -- {{ page.url | url }}'
		target=_blank rel=noopener title='Share by Email'>{% include 'icons/mail.svg' %}</a>

	<a href='https://twitter.com/intent/tweet?url={{ page.url | url }}&text={{ pageTitle }}
			{%- if config.twitter_user %}&via={{ config.twitter_user }}{% endif -%}
			{%- if page.tags %}&hashtags={{ page.tags | join(', ') }}{% endif -%}'
		target=_blank rel=noopener title='Share on Twitter'>{% include 'icons/twitter.svg' %}</a>

	{%- if config.facebook_app_id %}
	<a href='https://www.facebook.com/dialog/share?app_id={{ config.facebook_app_id }}&display=page&href={{ page.url | url }}&redirect_uri={{ page.url | url }}'
		target=_blank rel=noopener title='Share on Facebook'>{% include 'icons/facebook.svg' %}</a>
	{%- endif %}

	<a href='https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | url }}&title={{ pageTitle }}
			{%- if description %}&summary={{ description }}{% endif -%}'
		target=_blank rel=noopener title='Share on LinkedIn'>{% include 'icons/linkedin.svg' %}</a>

</div>
