{% extends 'base.tmpl' %}

{% block main %}

    <h1>{{ title | e }}</h1>

    {% if items %}
        <table>
            {% for text, link, count in items %}
                <tr>
                    <td style="text-align:center"><a href="{{ link }}">{{ text | e }}</a></td>
                    <td style="text-align:center"><a href="{{ link }}">{{ count }} post(s)</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There's nothing to show here.</p>
    {% endif %}

{% endblock %}
