{% extends 'post.html' %}

{% block main %}
	<h1><a href="{{ post.permalink }}" rel=bookmark>{{ post.title }}</a></h1>

	<img src="/shrikant-sharat-kandula.jpg" class=profile>

	<article> {{ post.html_body | safe }} </article>

	<p class=social>
	    <a target=_blank href="mailto:shrikantsharat.k@gmail.com">Email</a>
		<a target=_blank href="https://github.com/sharat87">GitHub</a>
	    <a target=_blank href="https://stackoverflow.com/users/sharat87">Stack Overflow</a>
	    <a target=_blank href="https://www.linkedin.com/in/sharat87">LinkedIn</a>
	    <a target=_blank href="https://twitter.com/sharat87">Twitter</a>
	    <a target=_blank href="https://www.facebook.com/sharat87">Facebook</a>
	</p>
{% endblock %}
