<!doctype html>
<html lang=en>
<meta charset=utf-8>
<title>{% if title %}{{ title|e }} | {% endif %}{{ config.site_title }}</title>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<meta name=author content="{{ config.author }}">
<script data-ad-client="ca-pub-1813617733171441" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i|Fira+Code:400,600&display=swap">
<link rel=stylesheet href="/styles.css">

<header>
	<h1><a href=/ rel=home>{{ config.site_title }}</a></h1>
	<nav>
		<a href="/archive.html">Archive</a>
		<a href="/labs.html">Labs</a>
		<a href="/shrikant-sharat-kandula-resume.pdf">Résumé</a>
		<a href="/posts/index.xml">RSS</a>
		<a href="/about.html">About</a>
	</nav>
</header>

<noscript>
	<p class=noscript-warning>This website requires JavaScript to operate correctly. Functionality
	may be limited when it's turned off.</p>
</noscript>

<main>{% block main %}{% endblock %}</main>

<footer>
	<p>Copyright &copy; 2010-2020, {{ config.author }}. This website serves third-party ads.</p>
	<p class=links>
		<a href=/about.html>About</a>
		<a href=/contact.html>Contact</a>
		<a href=/privacy-policy.html>Privacy Policy</a>
	</p>
</footer>

<div id=cookiesOkBox style='display:none'>
	<h4>This website uses cookies</h4>
	<p>By using this website, you automatically accept that we use cookies.
		<a href=/privacy-policy.html target=_blank title='Privacy Policy'>What for?</a></p>
	<p><button onclick='cookiesOkSave()'>I Understand</button></p>
</div>

<script>
setInterval(updateTimes, 60000);
updateTimes();

if (!document.cookie.match(/(^|;\s*)cookiesOk=1(;|$)/))
	document.getElementById('cookiesOkBox').style.display = 'block';

for (const el of document.querySelectorAll('sup.footnote-ref a'))
	el.setAttribute('title',
		document.getElementById(el.getAttribute('href').slice(1)).firstChild.textContent.trim());

function updateTimes() {
	for (const el of document.getElementsByTagName('time')) {
		el.title = el.title || el.textContent;
		el.textContent = timeSince(Date.parse(el.getAttribute('datetime')));
	}
}

function timeSince(date) {
	let i, u, s = Math.round((new Date() - date) / 100000);
	if ((i = Math.round(s / 315360)) >= 1) u = 'year';
	else if ((i = Math.round(s / 25920)) >= 1) u = 'month';
	else if ((i = Math.round(s / 864)) >= 1) u = 'day';
	return u ? `~${i} ${u}${i > 1 ? 's' : ''} ago` : 'today';
}

if (!localStorage.noga && !location.hostname.match(/localhost/)) {
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-105705354-1');
	var s = document.createElement('script');
	s.async = true;
	s.src = '//www.googletagmanager.com/gtag/js?id=UA-105705354-1';
	s.setAttribute('data-timestamp', +new Date());
	document.body.appendChild(s);
}

function cookiesOkSave() {
	const date = new Date();
	date.setTime(date.getTime() + (7*24*60*60*1000));
	document.cookie = 'cookiesOk=1; expires=' + date.toUTCString() + "; path=/";
	document.getElementById('cookiesOkBox').style.display = 'none';
}
</script>
