<form action="https://sharats.us4.list-manage.com/subscribe/post?u=cff985ad9d1968ae481977fed&amp;id=7b0245c57e"
		method="post" id="mc-embedded-subscribe-form" name=subscribe target="_blank" novalidate>
	<label>
		<h2>Subscribe to new posts by Email</h2>
		<p>Know about new articles and updates:
		<input type=email value="" name="EMAIL" id="mce-EMAIL" placeholder="Your email address..." required>
		{#- Honeypot field: real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
		<span style="display: block; position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cff985ad9d1968ae481977fed_7b0245c57e" tabindex="-1" value=""></span>
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
		</p>
		<p>We won't send more than <b>one email per month</b>. Pinky promise.</p>
	</label>
</form>
