{% extends 'base.html' %}

{% block main %}
	<h1><a href='{{ page.permalink }}' rel=bookmark>{{ page.title }}</a></h1>

	{%- if not page.meta.publish %}
	<p class=warning>This page has `publish` set to `false` in it's metadata.</p>
	{%- endif %}

	{%- if page.date %}
	<div class=title-subtext>
		{%- if page.date %}
		<div class=screen-only><time datetime='{{ page.date_iso }}' data-show-relative>{{ page.date_display }}</time></div>
		<div class=print-only>
			<b>Published:</b> {{ page.date_display }}<br>
			<b>Author:</b> Shrikant Sharat Kandula<br>
			<b>Source:</b> <a href='{{ page.permalink }}'>{{ page.permalink }}</a>
			<div class=print-msg>
				Thank you for printing from <a href='https://sharats.me'>sharats.me</a>. Do check
				back regularly for more such awesome content. Subscribe to
				<a href='https://sharats.me/posts/index.xml'>our feed</a>.
			</div>
		</div>
		{%- endif %}
	</div>
	{%- endif %}

	{%- if page.layout == 'post' %}
	<p>Read Later on
	<a href='https://getpocket.com/edit.php?url={{ page.permalink }}&title={{ page.title | striptags }}'
		target=_blank rel=noopener title='Save to Pocket'>Pocket</a> or
	<a href='https://instapaper.com/edit?url={{ page.permalink }}&title={{ page.title | striptags }}
			{#- TODO: This summary thing is not working. Figure out Instapaper API here. #}
			{%- if page.meta.description %}&summary={{ page.meta.description }}{% endif -%}'
		target=_blank rel=noopener title='Save to Instapaper'>Instapaper</a>.
	</p>
	{%- endif %}

	<article>{{ page.html_body }}</article>

	{%- if page.layout == 'post' %}
	<section class='screen-only page-end-mark'>
		<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
			<defs>
				<g id="svgPalm">
					<path stroke-width="2" fill="none"
						d="M2 22 h 6 l 4 -5 v -14 a 1 1 180 0 0 -3 0 v 2 l -2 8 l -6 3 Z"></path>
					<line x1="4" y1="14" x2="9" y2="20" stroke-width="1.3"></line>
				</g>
			</defs>
			<!-- <line x1="0" y1="50%" x2="100%" y2="50%" stroke="#888" stroke-width="1"></line> -->
			<g stroke="#666">
				<use xlink:href="#svgPalm"></use>
				<use xlink:href="#svgPalm" transform="translate(24 0) scale(-1, 1)"></use>
			</g>
		</svg>
	</section>

	<div class='note post-footer'>
		{%- if page.tags %}
		<div>
			<strong>Post tagged with</strong>
			{%- for tag in page.tags %}
			<a href='/tags/{{ tag }}/' title='Posts tagged with #{{ tag }}' class=tag rel=tag>{{ tag }}</a>
			{%- endfor %}
		</div>
		{%- endif %}

		{%- with label='Share article:' %}
		{%- include 'share-links.html' with context %}
		{%- endwith%}
	</div>

	{%- endif %}

	{%- if page.layout == 'post' %}
	<section class=page-author>
		<h2>About the author</h2>
		<p>Hello, I am <a href='/about/'>Shrikant</a>! I love programming and quantitative financial
		topics. I mostly write about Python, JavaScript and Vim following my work and experiences.
		Thank you for checking out my blog! <a href='/contact/'>Say hello!</a></p>

		<p>Please share your thoughts and feedback in the comments below. If you like my work,
		consider <a href='https://www.buymeacoffee.com/sharat87' rel=noopener>buying me a
			coffee</a>, thanks!</p>

	</section>
	{%- endif %}

	{%- if page.meta.comments %}
	<section class=comments>
		<h2>Comments</h2>
		<p class=screen-only>
			<button type=button data-click=loadComments>Load comments</button>
			{%- if page and page.meta.reddit_url %}
			<a class=button target=_blank href='https://www.reddit.com/{{ page.meta.reddit_url }}'>Reddit Discussion</a>
			{%- endif %}
			{%- if page and page.meta.hn_id %}
			<a class=button target=_blank href='https://news.ycombinator.com/item?id={{ page.meta.hn_id }}'>HackerNews Discussion</a>
			{%- endif %}
		</p>
		<p class=print-only>View comments at <a href='{{ page.permalink }}#comments'>{{ page.permalink }}#comments</a>
		<div id=disqus_thread></div>
		<noscript class=screen-only><p>Comments require JavaScript to be enabled.
			<a href='http://enable-javascript.com'>Learn how to do this for your browser</a>.</p></noscript>
	</section>
	<script>
	function disqus_config() {
		this.page.url = '{% if page.meta.disqus_url %}{{ page.meta.disqus_url }}{% else %}{{ page.permalink }}{%- endif %}';
	}
	</script>
	{% endif %}

{% endblock %}
