{% extends 'base.html' %}

{% block main %}
	<h1><a href='{{ page.permalink }}' rel=bookmark>{{ page.title }}</a></h1>

	{%- if not page.meta.publish %}
	<p class=warning>This page has `publish` set to `false` in it's metadata.</p>
	{%- endif %}

	{%- if page.date %}
	<div class=title-subtext>
		{%- if page.date %}
		<div class=screen-only><time datetime='{{ page.date_iso }}'>{{ page.date_display }}</time></div>
		<div class=print-only>
			<b>Published:</b> {{ page.date_display }}<br>
			<b>Author:</b> Shrikant Sharat Kandula<br>
			<b>Source:</b> <a href='{{ page.permalink }}'>{{ page.permalink }}</a>
			<div class=print-msg>
				Thank you for printing from <a href='https://sharats.me'>sharats.me</a>. Do check
				back regularly for more such awesome content. Subscribe to
				<a href='https://sharats.me/posts/index.xml'>our feed</a>.
			</div>
		</div>
		{%- endif %}
	</div>
	{%- endif %}

	<article>{{ page.html_body | safe }}</article>

	{%- if page.layout == 'post' %}
	<section class=page-end-mark>&#x1f64f;</section>

	<div class='note post-footer'>
		{%- if page.tags %}
		<div>
			<strong>Post tagged with</strong>
			{%- for tag in page.tags %}
			<a href='/tags/{{ tag }}/' title='Posts tagged with #{{ tag }}' class=tag rel=tag>{{ tag }}</a>
			{%- endfor %}
		</div>
		{%- endif %}

		{%- with label='Share this article:' %}
		{%- include 'share-links.html' with context %}
		{%- endwith%}
	</div>

	{%- endif %}

	{%- if page.layout == 'post' and config.dev_mode %}
	<section class=page-author>
		<h2>About the author</h2>
		<p>Hello, I am <a href='/about/'>Shrikant</a>! I love programming and quantitative financial
		topics. I mostly write about Python, JavaScript and ViM following my work and experiences.
		Thank you for checking out my blog! <a href='/contact/'>Say hello!</a></p>

		<p>Please share your thoughts and feedback in the comments below. Thanks!</p>

		<p class=support-links>
		<a href='https://www.buymeacoffee.com/sharat87' target=_blank title='No signup required'>
			<img src='/bmac.png' alt='Buy me a coffee!'></a>
		</p>

	</section>
	{% endif %}

	{% if page.meta.comments %}
	<section class=comments>
		<h2>Comments</h2>
		<div id=disqus_thread></div>
		<button type=button onclick='loadComments(event)' class=screen-only>Load comments</button>
		<p class=print-only>View comments at <a href='{{ page.permalink }}#comments'>{{ page.permalink }}#comments</a>
		<noscript class=screen-only><p>Comments require JavaScript to be enabled.
			<a href='http://enable-javascript.com'>Learn how to do this for your browser</a>.</p></noscript>
	</section>
	<script>
	function disqus_config() {
		this.page.url = '{% if page.meta.disqus_url %}{{ page.meta.disqus_url }}{% else %}{{ page.permalink }}{%- endif %}';
	}
	function loadComments(event) {
		event.target.remove();
		document.getElementById('disqus_thread').innerText = 'Loading comments...';
		const s = document.createElement('script');
		s.async = true;
		s.src = '//sharats-me.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		document.body.appendChild(s);
	}
	</script>
	{% endif %}

{% endblock %}
