{% extends 'base.html' %}

{% block main %}
	<h1><a href="{{ post.permalink }}" rel=bookmark>{{ post.title | safe }}</a></h1>

	{% if post.date or post.tags %}
	<em>
		{% if post.date %}
		Posted <time datetime='{{ post.date_iso }}'>{{ post.date_display }}</time>.
		{% endif %}
		{% if post.tags %}
			<span class="tag-list">
				Tagged:
				{% for tag in post.tags %} <a href="/tags/{{ tag }}.html">#{{ tag }}</a>{% endfor %}.
			</span>
		{% endif %}
	</em>
	{% endif %}

	<article> {{ post.html_body | safe }} </article>

	{% if post.meta.get('comments', True) %}
	<section class=comments>
		<h2>Comments</h2>
		<div id=disqus_thread></div>
		<button type=button onclick='loadComments(event)'>Load comments</button>
		<noscript><p>Comments require JavaScript to be enabled.</p></noscript>
	</section>
	<script>
	function disqus_config() {
		this.page.url = '{% if post.meta.disqus_url %}{{ post.meta.disqus_url }}{% else %}{{ post.permalink }}{%- endif %}';
	}
	function loadComments(event) {
		event.target.remove();
		document.getElementById('disqus_thread').innerText = 'Loading comments...';
		const s = document.createElement('script');
		s.async = true;
		s.src = '//sharats-me.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		document.body.appendChild(s);
	}
	</script>
	{% endif %}

{% endblock %}
