{% if posts %}
<ul class=post-list>
	{% if limit_posts %}
	{% set posts = posts[:limit_posts] %}
	{% endif %}

	{% set ns = namespace(prev_month=None) %}
	{% for post in posts %}
		{%- if group_by_month and ns.prev_month != post.date.strftime('%B %Y') %}
			{% set ns.prev_month = post.date.strftime('%B %Y') %}
			<li><h2>{{ ns.prev_month }}</h2>
		{%- endif %}
		<li>
		<a href='{{ post.link }}' class=title>{{ post.title | safe }}</a>
		<span class=subtext>
			<time datetime='{{ post.date_iso }}'>{{ post.date_display }}</time>
			{%- set id=loop.index %}
			<input type=checkbox name='tagsToggler{{ id }}' id='tagsToggler{{ id }}' class='toggler hide'>
			{%- for tag in post.tags %}
			{%- if loop.first %}
			<a href='/tags/{{ tag }}/' class='tag first'>{{ tag }}</a>
			<label class=tag for='tagsToggler{{ id }}' title='Show more tags'>&hellip;</label>
			{%- else %}
			<a href='/tags/{{ tag }}/' class=tag>{{ tag }}</a>
			{%- endif %}
			{%- endfor %}
		</span>
	{% endfor %}
</ul>

{% else %}
	<p>There's no posts yet.</p>

{% endif %}
