<footer>
  {{ with .Site.Author.name }}
  <span class="author">&copy; 2011&ndash;17 {{ . }}</span>
  {{- end -}}

  <span class="sep">{{- partial "icon.html" "leaf" -}}</span>

  {{- with .Site.Author.email -}}
  <a target="_blank" href="mailto:{{ . }}">{{ partial "icon.html" "envelope" }}</a>
  {{- end -}}

  {{- with .Site.Author.github -}}
  <a target="_blank" href="https://github.com/{{ . }}">{{ partial "icon.html" "github-alt" }}</a>
  {{- end -}}

  {{- with .Site.Author.stackoverflow -}}
  <a target="_blank" href="https://stackoverflow.com/users/{{ . }}">{{ partial "icon.html" "stack-overflow" }}</a>
  {{- end -}}

  {{- with .Site.Author.linkedin -}}
  <a target="_blank" href="https://www.linkedin.com/in/{{ . }}">{{ partial "icon.html" "linkedin" }}</a>
  {{- end -}}

  {{- with .Site.Author.twitter -}}
  <a target="_blank" href="https://twitter.com/{{ . }}">{{ partial "icon.html" "twitter" }}</a>
  {{- end -}}

  {{- with .Site.Author.facebook -}}
  <a target="_blank" href="https://www.facebook.com/{{ . }}">{{ partial "icon.html" "facebook" }}</a>
  {{- end -}}
</footer>

<link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

<script type="text/javascript">
  setInterval(updateTimes, 60000);
  updateTimes();
  hljs.configure({languages: []}); // Disable language-detection.
  hljs.initHighlighting();

  var navListBox = document.getElementById('toggle-content');
  document.getElementById('toggle-btn').addEventListener('click', function (e) {
    e.preventDefault();
    navListBox.style.display = navListBox.style.display ? '' : 'none';
  });

  function updateTimes() {
    var times = document.querySelectorAll('time.timeago');
    for (var i = times.length; i-- > 0;) {
      var d = Date.parse(times[i].getAttribute('datetime'));
      times[i].textContent = timeSince(d) + ' ago';
    }
  }

  function timeSince(date) {
    var seconds = Math.floor((new Date() - date) / 1000);
    var interval = Math.floor(seconds / 31536000);
    if (interval > 1) {
      return interval + " years";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval > 1) {
      return interval + " months";
    }
    interval = Math.floor(seconds / 86400);
    if (interval > 1) {
      return interval + " days";
    }
    interval = Math.floor(seconds / 3600);
    if (interval > 1) {
      return interval + " hours";
    }
    interval = Math.floor(seconds / 60);
    if (interval > 1) {
      return interval + " minutes";
    }
    return Math.floor(seconds) + " seconds";
  }
</script>

{{ template "_internal/google_analytics_async.html" . }}
