<footer>
  {{ with .Site.Author.name }}
  <span class="author">{{ partial "icon.html" "copyright" }} 2011&ndash;17 {{ . }}</span>
  {{- end -}}

  <span class="sep">{{- partial "icon.html" "leaf" -}}</span>

  {{- with .Site.Author.email -}}
  <a target="_blank" href="mailto:{{ . }}">{{ partial "icon.html" "envelope" }}</a>
  {{- end -}}

  {{- with .Site.Author.github -}}
  <a target="_blank" href="https://github.com/{{ . }}">{{ partial "icon.html" "github-alt" }}</a>
  {{- end -}}

  {{- with .Site.Author.stackoverflow -}}
  <a target="_blank" href="https://stackoverflow.com/users/{{ . }}">{{ partial "icon.html" "stack-overflow" }}</a>
  {{- end -}}

  {{- with .Site.Author.linkedin -}}
  <a target="_blank" href="https://www.linkedin.com/in/{{ . }}">{{ partial "icon.html" "linkedin" }}</a>
  {{- end -}}

  {{- with .Site.Author.twitter -}}
  <a target="_blank" href="https://twitter.com/{{ . }}">{{ partial "icon.html" "twitter" }}</a>
  {{- end -}}

  {{- with .Site.Author.facebook -}}
  <a target="_blank" href="https://www.facebook.com/{{ . }}">{{ partial "icon.html" "facebook" }}</a>
  {{- end -}}
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

<script type="text/javascript">
  {{ partialCached "app.js" . | safeJS }}
</script>

{{ template "_internal/google_analytics_async.html" . }}
