<li {{ if .Draft }}class="draft"{{ end }}>
  <a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>

  <p class="post-footnote">
    {{ with .Date.Format "2006-01-02T15:04:05Z07:00" }}
    <time datetime="{{ . }}" title="{{ . }}" class="timeago">{{ . }}</time>
    {{ end }}

    {{ if or .Params.tags .Params.categories }}&mdash;{{ end }}

    {{ range .Params.tags}}
      <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>
    {{ end }}

    {{ range .Params.categories }}
      <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">%{{ . }}</a>
    {{ end }}
  </p>
</li>
