<header>

  <div class="nav-menu">
    <a href="/" class="site-title">{{ .Site.Title }}</a>

    <a href="#" id="nav-toggle-btn">{{ partial "icon.html" "bars" }}</a>

    <ul id="nav-menu-list" class="menu">
      {{ range .Site.Menus.main }}
      <li>
        <a href='{{ .URL }}'
          {{ if or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) }}
          class="active" aria-current="page"
          {{ end }}>
          {{ partial "icon.html" .Pre }} {{ .Name }}
        </a>
      {{ end }}
    </ul>

  </div>

  <!--
  <div class="mobile pure-menu nav-menu">
    <a href="/" class="pure-menu-heading" id="toggle-home">{{ .Site.Title }}</a>
    <a href="#" id="toggle-btn">&#9776;</a>
    <ul class="pure-menu-list" id="toggle-content" style="display:none;">
      {{ range .Site.Menus.main }}
      <li class="pure-menu-item">
        <a href='{{ .URL }}'
          {{ if or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) }}
          class="active" aria-current='page'
          {{ end }}
          >
          {{- .Name -}}
        </a>
        {{ end }}
    </ul>
  </div>
  -->

</header>
