body {
    margin: 0;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

pre, code {
    font-family: 'Fira Mono', monospace;
    font-size: .9em;
}

h1 code, h2 code, h3 code, h4 code {
    font-weight: 500;
}

p code {
    background-color: rgba(0, 0, 0, .05);
    padding: 0 3px;
}

pre {
    margin: 1em;
    padding: .5em;
    background-color: rgba(0, 0, 0, .02);
}

pre code.hljs {
    padding: 0;
}

header {
    border-bottom: 1px solid #E3E3E3;
}

header a, footer a {
    display: inline-block;
    color: inherit;
    padding: .5em 1em;
}

header a:hover, header .active, footer a:hover {
    background-color: rgba(0, 0, 0, .05);
    color: #000;
    opacity: 1;
}

header .nav-menu {
    width: 100%;
    white-space: nowrap;
}

header .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .menu a {
    opacity: .8;
}

header .site-title {
    font-weight: bold;
    vertical-align: middle;
    padding: .5em 1em;
    margin-right: 1em;
    float: left;
}

header:after {
    content: ' ';
    visibility: hidden;
    clear: both;
    display: block;
}

.pull-right {
    float: right;
}

.posts {
    list-style-type: none;
    padding-left: 1em;
}

.posts li p {
    margin-top: 0;
}

.posts li {
    margin-bottom: 1.5em;
}

.posts .post-title {
    font-size: 1.4em;
}

.posts .post-footnote {
    opacity: .6;
}

a {
    color: #369;
    text-decoration: none;
}

.comments {
    margin-top: 2em;
}

h1 + em {
    margin-top: -1.8em;
    display: block;
    font-size: .8em;
}

.profile {
    float: left;
    border: 3px solid #333;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    max-width: 130px;
    margin: .5em 2em;
}

footer {
    border-top: 1px solid #EEE;
    margin: 2em auto 0;
    font-size: 1.05em;
    text-align: center;
}

footer .author {
    margin-right: 1em;
}

footer .sep {
    opacity: .3;
    margin-right: 1em;
    transform: scale(.7);
    display: inline-block;
}

body > section, body > article {
    padding: 0 1em;
    max-width: 960px;
    margin: 0 auto;
}

body > section img, body > article img {
    max-width: 100%;
    height: auto;
}

body > section a:hover, body > article a:hover {
    text-decoration: underline;
}

article:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.pagination {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    border: thin solid rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.pagination li {
    display: inline-block;
}

.pagination .disabled {
    opacity: .3;
}

.pagination .active {
    background-color: rgba(0, 0, 0, .08);
    font-weight: bold;
}

.pagination a {
    padding: 3px 9px;
}

.pagination a:hover {
    background-color: rgba(0, 0, 0, .1);
}

.pageline {
    color: #CCC;
    position: relative;
    border-top: 1px solid #EEE;
    margin: 2em 0;
}

.pageline > span {
    position: absolute;
    left: 20%;
    top: -.5em;
    background: white;
    display: block;
    padding: 0 12px;
}

blockquote {
    margin-left: 1em;
    padding: 3px 0 3px 1em;
    border-left: 3px solid rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, .04);
    position: relative;
    font-style: italic;
}

blockquote:before {
    font-family: FontAwesome;
    content: '\f10d';
    display: block;
    position: absolute;
    transform: translateX(-2em) scale(3);
    opacity: .1;
}

aside {
    border: 1px solid rgba(0, 0, 50, .2);
    background-color: rgba(0, 0, 50, .05);
    padding: 1em;
    opacity: .9;
    margin: 1em 3em;
}

aside > :last-child {
    margin-bottom: 0;
}

.share-buttons {
    margin-top: 1em;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, .05);
    padding: 1em;
}

.share-buttons a {
    color: inherit;
    display: inline-block;
    font-size: .6em;
    margin-left: 1em;
}

.share-buttons a:hover {
    color: black;
}

@media screen and (max-width: 730px) {
    header .menu {
        display: none;
    }

    header .menu.show {
        display: block;
    }

    header .menu:before {
        content: ' ';
        visibility: hidden;
        display: block;
        clear: both;
    }

    header .menu a {
        display: block;
    }

    #nav-toggle-btn {
        display: inline-block;
        float: right;
        padding: .5em 1em;
        color: #484848;
    }

    #toggle-content li {
        clear: both;
        height: auto;
        background-color: rgb(249, 249, 249);
    }
    #toggle-home {
        display: inline-block;
    }
}

@media screen and (min-width: 731px) {
    #nav-toggle-btn {
        display: none;
    }

    header .menu {
        float: right;
        display: inline-block;
    }

    header .menu li {
        display: inline-block;
        zoom: 1;
        vertical-align: middle;
    }
}
