/* Background */ .chroma { background-color: #f8f8f8 }
/* Other */ .chroma .ss5 { color: #000000 }
/* Error */ .chroma .ss4 { color: #a40000 }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #204a87; font-weight: 600 }
/* KeywordConstant */ .chroma .s3e9 { color: #204a87; font-weight: 600 }
/* KeywordDeclaration */ .chroma .s3ea { color: #204a87; font-weight: 600 }
/* KeywordNamespace */ .chroma .s3eb { color: #204a87; font-weight: 600 }
/* KeywordPseudo */ .chroma .s3ec { color: #204a87; font-weight: 600 }
/* KeywordReserved */ .chroma .s3ed { color: #204a87; font-weight: 600 }
/* KeywordType */ .chroma .s3ee { color: #204a87; font-weight: 600 }
/* Name */ .chroma .s7d0 { color: #000000 }
/* NameAttribute */ .chroma .s7d1 { color: #c4a000 }
/* NameBuiltin */ .chroma .s7d2 { color: #204a87 }
/* NameBuiltinPseudo */ .chroma .s7d3 { color: #3465a4 }
/* NameClass */ .chroma .s7d4 { color: #000000 }
/* NameConstant */ .chroma .s7d5 { color: #000000 }
/* NameDecorator */ .chroma .s7d6 { color: #5c35cc; font-weight: 600 }
/* NameEntity */ .chroma .s7d7 { color: #ce5c00 }
/* NameException */ .chroma .s7d8 { color: #cc0000; font-weight: 600 }
/* NameFunction */ .chroma .s7d9 { color: #000000 }
/* NameLabel */ .chroma .s7dc { color: #f57900 }
/* NameNamespace */ .chroma .s7dd { color: #000000 }
/* NameOther */ .chroma .s7df { color: #000000 }
/* NameProperty */ .chroma .s7e1 { color: #000000 }
/* NameTag */ .chroma .s7e2 { color: #204a87; font-weight: 600 }
/* NameVariable */ .chroma .s7e3 { color: #000000 }
/* NameVariableClass */ .chroma .s7e5 { color: #000000 }
/* NameVariableGlobal */ .chroma .s7e6 { color: #000000 }
/* NameVariableInstance */ .chroma .s7e7 { color: #000000 }
/* Literal */ .chroma .sbb8 { color: #000000 }
/* LiteralDate */ .chroma .sbb9 { color: #000000 }
/* LiteralString */ .chroma .sc1c { color: #4e9a06 }
/* LiteralStringBacktick */ .chroma .sc1f { color: #4e9a06 }
/* LiteralStringChar */ .chroma .sc21 { color: #4e9a06 }
/* LiteralStringDoc */ .chroma .sc23 { color: #8f5902; font-style: italic }
/* LiteralStringDouble */ .chroma .sc24 { color: #4e9a06 }
/* LiteralStringEscape */ .chroma .sc25 { color: #4e9a06 }
/* LiteralStringHeredoc */ .chroma .sc26 { color: #4e9a06 }
/* LiteralStringInterpol */ .chroma .sc27 { color: #4e9a06 }
/* LiteralStringOther */ .chroma .sc29 { color: #4e9a06 }
/* LiteralStringRegex */ .chroma .sc2a { color: #4e9a06 }
/* LiteralStringSingle */ .chroma .sc2b { color: #4e9a06 }
/* LiteralStringSymbol */ .chroma .sc2c { color: #4e9a06 }
/* LiteralNumber */ .chroma .sc80 { color: #0000cf; font-weight: 600 }
/* LiteralNumberFloat */ .chroma .sc82 { color: #0000cf; font-weight: 600 }
/* LiteralNumberHex */ .chroma .sc83 { color: #0000cf; font-weight: 600 }
/* LiteralNumberInteger */ .chroma .sc84 { color: #0000cf; font-weight: 600 }
/* LiteralNumberIntegerLong */ .chroma .sc85 { color: #0000cf; font-weight: 600 }
/* LiteralNumberOct */ .chroma .sc86 { color: #0000cf; font-weight: 600 }
/* Operator */ .chroma .sfa0 { color: #ce5c00; font-weight: 600 }
/* OperatorWord */ .chroma .sfa1 { color: #204a87; font-weight: 600 }
/* Punctuation */ .chroma .s1388 { color: #000000; font-weight: 600 }
/* Comment */ .chroma .s1770 { color: #8f5902; font-style: italic }
/* CommentMultiline */ .chroma .s1772 { color: #8f5902; font-style: italic }
/* CommentSingle */ .chroma .s1773 { color: #8f5902; font-style: italic }
/* CommentSpecial */ .chroma .s1774 { color: #8f5902; font-style: italic }
/* CommentPreproc */ .chroma .s17d4 { color: #8f5902; font-style: italic }
/* Generic */ .chroma .s1b58 { color: #000000 }
/* GenericDeleted */ .chroma .s1b59 { color: #a40000 }
/* GenericEmph */ .chroma .s1b5a { color: #000000; font-style: italic }
/* GenericError */ .chroma .s1b5b { color: #ef2929 }
/* GenericHeading */ .chroma .s1b5c { color: #000080; font-weight: 600 }
/* GenericInserted */ .chroma .s1b5d { color: #00a000 }
/* GenericOutput */ .chroma .s1b5e { color: #000000; font-style: italic }
/* GenericPrompt */ .chroma .s1b5f { color: #8f5902 }
/* GenericStrong */ .chroma .s1b60 { color: #000000; font-weight: 600 }
/* GenericSubheading */ .chroma .s1b61 { color: #800080; font-weight: 600 }
/* GenericTraceback */ .chroma .s1b62 { color: #a40000; font-weight: 600 }
/* TextWhitespace */ .chroma .s1f41 { color: #f8f8f8 }
