{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="post">
  <h1>{{ .Title }}</h1>

  <em class="footnote">
    {{ $isoDate :=  .Date.Format "2006-01-02T15:04:05Z07:00" }}
    <time datetime="{{ $isoDate }}" class="timeago">{{ $isoDate }}</time>

    {{ $baseurl := .Site.BaseURL }}

    {{ if or .Params.tags .Params.categories .Params.series }}&mdash;{{ end }}

    {{ range .Params.tags }}
    <a href="{{ $baseurl }}tags/{{ . | urlize }}">#{{ . }}</a>
    {{ end }}

    {{ range .Params.categories }}
    <a href="{{ $baseurl }}categories/{{ . | urlize }}">%{{ . }}</a>
    {{ end }}
  </em>

  {{ if ne .Type "standalone" }}
  {{ partial "pageline.html" . }}
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>

  {{ if ne .Type "standalone" }}
  <div class="share-buttons">
    <span>Share article on</span>
    <a href="#" title="Share on Twitter">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#" title="Share on Facebook">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>

  {{ partial "pageline.html" . }}
  {{ end }}

  {{ if isset .Params "comments" }}
    {{ $.Scratch.Set "showComments" .Params.comments }}
  {{ else }}
    {{ $.Scratch.Set "showComments" (ne .Type "standalone") }}
  {{ end }}

  {{ if $.Scratch.Get "showComments" }}
  <div class="comments">
    <h1>{{ partial "icon.html" "comments" }}Comments</h1>
    {{ template "_internal/disqus.html" . }}
  </div>
  {{ end }}

  {{ if .Draft }}<div class="draft-label"
    title="This page is a draft. It hasn't been published yet.">
    {{ partial "icon.html" "save" }} DRAFT
  </div>{{ end }}
</article>

{{ partial "footer.html" . }}
