<!doctype html>
<html lang="en">

	<head>

		<meta charset="UTF-8">

		{%- set pageTitle = "" %}
		{%- if renderData.title or title %}
		{%- set pageTitle = (renderData.title or title) + " | " %}
		{%- endif %}
		{%- set pageTitle = pageTitle + metadata.title %}
		<title>{{ pageTitle }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ renderData.description or description or metadata.description }}">
		<meta name="author" content="{{ metadata.author.name }}">

		<meta property="og:title" content="{{ pageTitle }}">
		{%- set fullUrl = metadata.url.substr(0, metadata.url.length - 1) + (page.url | url) %}
		<meta property="og:url" content="{{ fullUrl }}">
		{#- <meta property="og:image" content="{{ page.og_image }}"> #}
		{#- TODO: More Opengraph tags at https://www.ogp.me/ #}

		{%- if not DEV_MODE and ENABLE_ADSENSE %}
		<script data-ad-client='ca-pub-1813617733171441' async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>
		{%- endif %}

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code:400,600%7CSource+Sans+Pro:400,400i,600,600i&display=swap">
		<style>{% include "styles.css" %}</style>

		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="manifest" href="/site.webmanifest">

		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

		<style>.hide, .sr-only { display: none !important; }</style>

	</head>

	<body>

		<header>
			<input class=nav-toggle name=nav-toggle id=nav-toggle type=checkbox>
			<div class=compact>
				<h1><a href="{{ '/' | url }}" rel="home">{{ metadata.title }}</a></h1>
				<label class=nav-toggle for=nav-toggle>
					<svg width="25" height="20" role="img">
						<title>Toggle navigation menu</title>
						<g stroke="black" stroke-width="2" stroke-linecap="round">
							<line x1="4" y1="4"  x2="21" y2="4" />
							<line x1="4" y1="10" x2="21" y2="10" />
							<line x1="4" y1="16" x2="21" y2="16" />
						</g>
					</svg>
				</label>
			</div>
			{#- For listItemElement, empty string creates empty tag. #}
			{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
				listElement: "nav",
				listItemElement: "span",
				activeAnchorClass: "active",
				activeKey: eleventyNavigation.key
			}) | safe }}
		</header>

		<noscript>
			<p class=warning>This website requires JavaScript to operate correctly. Functionality
			may be limited when it's turned off.</p>
		</noscript>

		<main>
			{{ content | safe }}
			{%- include "email-subscribe-form.html" %}
		</main>

		<footer>
			<div class=content>
				<p>Copyright &copy; 2010-2020, {{ metadata.author.name }}. For copying any content
				from this website, please <a href="/contact/">get in touch</a>.
					{% if ENABLE_ADSENSE %}This website serves third-party ads.{% endif %}</p>
				<p class=links>
					<a href=/about/>About</a>
					<a href=/contact/>Contact</a>
					<a href=/privacy-policy/>Privacy Policy</a>
				</p>
				<p class=links>
					<span>Find me:</span>
					<a target=_blank href='https://twitter.com/sharat87'>Twitter</a>
					<a target=_blank href='https://github.com/sharat87'>GitHub</a>
					<a target=_blank href='https://www.linkedin.com/in/sharat87'>LinkedIn</a>
				</p>
			</div>
		</footer>

		<div id="cookiesOkBox" class="screen-only hide">
			<p>This website uses cookies. By continuing to use this website, you agree to our use of
			cookies. <a href="{{ '/privacy-policy/' | url }}" target="_blank" title="Privacy Policy">Know more</a>.</p>
			<p><button data-click="cookiesOkSave">Okay</button></p>
		</div>

		<script>
		{% include "main.js" %}
		</script>

		<!-- Current page: {{ page.url | url }} -->
	</body>

</html>
